.modal-header h2 {
    font-family: 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #34495e;
    padding-top: 5px;
    display: inline-block;
}

.modal-header img {
    display: inline-block;
    width: 30px;
    padding-right: 1px;
}

.modal-header {
    align-items: center;
    display: block;
    padding: 5px 5px;
    border-bottom: 1px solid #dadada;
    text-align: center;
}

.modal-header span {
    display: inline-block;
}

.word-info-container {
    font-family: 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    line-height: inherit;
}

.wordHeader {
    font-size: 35px;
    font-family: "LFT Etica Sheriff", "serif";
    font-weight: bold;
    display: inline-block;
    padding: 5px 0px 0px 10px;
}

.phoneticHeader {
    color: purple;
    font-size: 15px;
    display: block;
    padding: 0px 0px 0px 10px;
}

.speakerButton {
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    margin-left: 10px;
}

.speakerButton img {
    width: 20px;
    height: 20px;
}

.speakerButton:hover {
    background-color: #e0e0e0;
}

.partOfSpeech {
    font-size: 20px;
    font-family: "LFT Etica Sheriff", "serif";
    font-weight: bold;
    display: inline-block;
    padding: 0px 0px 0px 10px;
}

.definationElement {
    font-size: 18px;
    color: #34495e;
    font-family: "LFT Etica Sheriff", "serif";
    font-style: italic;
    display: inline-block;
    padding: 0px 0px 0px 10px;
}

.definationExample {
    font-size: 14px;
    font-weight: 600;
    font-family: "LFT Etica Sheriff", "serif";
    display: inline-block;
    padding: 0px 0px 0px 10px;
}